<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>
			<div class="title_inner d-flex">
				<h3 class="end">
					<span class="end cart_icon" (click)="cart()">
						<ion-icon class="zmdi zmdi-mall ion-text-start"></ion-icon>
						<ion-badge>2</ion-badge>
					</span>
				</h3>
			</div>
		</ion-title> -->
    </ion-toolbar>

    <div class="banner">
        <div class="banner_img center_img">
            <img [src]="pageImage" class="crop_img">
        </div>
        <h2>{{pageTitle}}</h2>
    </div>
</ion-header>

<ion-content>
    <div class="empty-view" *ngIf="!isLoading && (!products || !products.length)">
        <div style="text-align:center">
            <img src="assets/images/plc_no_item.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_results' | translate}}
            </span>
        </div>
    </div>
    <div class="item_container">
        <ion-row>
            <ion-col size="6" *ngFor="let product of products" (click)="navProDetail(product)">
                <div class="item">
                    <div class="item_img center_img">
                        <img [src]="product.images[0]" class="crop_img">
                    </div>
                    <div class="item_details">
                        <h3>{{product.title}}</h3>
                        <h4>{{product.categories[0].title}}</h4>
                        <h5 class="d-flex">
                            <span class="price">{{product.priceToShow}}</span>
                            <ion-badge class="end">
                                {{product.ratings}}
                                <ion-icon class="zmdi zmdi-star"></ion-icon>
                            </ion-badge>
                        </h5>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-infinite-scroll (ionInfinite)="doInfiniteProducts($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>