<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{'contact_us' | translate}}
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="banner">
		<div class="logo">
			<img src="assets/images/userlogo.png">
		</div>
	</div>
	<div class="form">
		<p [innerHTML]="'support_message' | translate" ></p>
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"full_name" | translate}}</ion-label>
				<ion-input mode="md" disabled readonly [(ngModel)]="supportRequest.name">
				</ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
				<ion-input mode="md" disabled readonly [(ngModel)]="supportRequest.email"></ion-input>
			</ion-item>

			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"your_feedback" | translate}}</ion-label>
				<ion-textarea maxlength="500" rows="1" mode="md" type="text" [(ngModel)]="supportRequest.message"
					placeholder="{{'enter_your_message' | translate}}">
				</ion-textarea>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn" (click)="submit()">
		{{'submit' | translate}}
	</ion-button>
</ion-footer>