<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="main-home">
			<!-- <div class="img_box">
				<img src="assets/images/ic_medicine.png" class="before">
				<img src="assets/images/ic_medicineact.png" class="after">
			</div> -->			
			<ion-icon name="home-outline"></ion-icon>
			<ion-label>{{'Home' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="doctors">
			<!-- <div class="img_box">
				<img src="assets/images/ic_doctorsf.png" class="before">
				<img src="assets/images/ic_doctorsact.png" class="after">
			</div> -->
			<ion-icon name="wallet-outline"></ion-icon>
			<ion-label>{{'Wallet' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="hospitals">
			<!-- <div class="img_box">
				<img src="assets/images/ic_hospitals.png" class="before">
				<img src="assets/images/ic_hospitalsact.png" class="after">
			</div> -->
			<ion-icon name="file-tray-full-outline"></ion-icon>
			<ion-label>{{'History' | translate}}</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button tab="my_appointments">
			<div class="img_box">
				<img src="assets/images/ic_appointments.png" class="before">
				<img src="assets/images/ic_appointmentsact.png" class="after">
			</div>
			<ion-label>{{'Profile' | translate}}</ion-label>
		</ion-tab-button> -->

		<ion-tab-button tab="more">
			<div class="img_box">
				<img src="assets/images/ic_more.png" class="before">
				<img src="assets/images/ic_moreact.png" class="after">
			</div>
			<ion-label>{{'Profile' | translate}}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>