<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'add_review' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="banner">
        <div class="img_box center_img">
            <img [src]="product.images[0]" class="crop_img">
        </div>
        <div class="text_box ion-text-center">
            <h2>{{product.title}}</h2>
            <!-- <h3>{{product.detail}}</h3> -->
        </div>
    </div>

    <div class="give_rating ion-text-center">
        <h2>{{'how_was_your_experience' | translate}}?</h2>
        <div class="icon_box">

            <span [ngClass]="rateRequest.rating>=1 ? 'icon_box active' : 'icon_box' " (click)="setRating(1)">
                <ion-icon class="zmdi zmdi-star"></ion-icon>
            </span>
            <span [ngClass]="rateRequest.rating>=2 ? 'icon_box active' : 'icon_box' " (click)="setRating(2)">
                <ion-icon class="zmdi zmdi-star"></ion-icon>
            </span>
            <span [ngClass]="rateRequest.rating>=3 ? 'icon_box active' : 'icon_box' " (click)="setRating(3)">
                <ion-icon class="zmdi zmdi-star"></ion-icon>
            </span>
            <span [ngClass]="rateRequest.rating>=4 ? 'icon_box active' : 'icon_box' " (click)="setRating(4)">
                <ion-icon class="zmdi zmdi-star"></ion-icon>
            </span>
            <span [ngClass]="rateRequest.rating>=5 ? 'icon_box active' : 'icon_box' " (click)="setRating(5)">
                <ion-icon class="zmdi zmdi-star"></ion-icon>
            </span>
        </div>
    </div>

    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <ion-label mode="md" position="stacked">{{"write_your_feedback" | translate}}</ion-label>
                <ion-textarea rows="2" mode="md" type="text" [(ngModel)]="rateRequest.review" maxlength="140" placeholder="{{'enter_your_review' | translate}}">
                </ion-textarea>
            </ion-item>
        </ion-list>
    </div>
    <ion-button size="large" shape="full" class="btn" (click)="submitRating()">
        {{'submit' | translate}}
    </ion-button>
</ion-content>
<!--
<ion-footer class="ion-no-border">

</ion-footer>-->
